%div{:data => {:role => :page}, :id => "BILL#{@bill.id}"}
  %header{:data => {:role => :header}}
    %a.ui-btn-left{:href => '/', :data => {:icon => 'flat-menu', :iconpos => :notext, :theme => :b, :inline => :true, :corners => :true, :shadow => :true, :iconshadow => :true}}
    %h1= @bill.code
    - if @bill.receipt.present?
      %a.ui-btn-right{:href => "#RECEIPT#{@bill.id}", :data => {:rel => :dialog, :icon => 'flat-eye', :iconpos => :notext, :theme => :b, :inline => :true, :corners => :true, :shadow => :true, :iconshadow => :true}}
  .content{:data => {:role => :content}}
    %ul{:data => {:role => :listview, :inset => :true}}
      %li{:data => {:role => 'list-divider'}}
        .name All Claims
        .tip Tip
        .amount Amount
      - @bill.claims.each do |claim|
        %li
          .name= claim.name
          .tip= claim.tip_amount
          .amount= claim.amount
      %li{:data => {:role => 'list-divider'}}
        .name Total
        .tip= @bill.total_tip_claimed
        .amount= @bill.total_claimed
      %li{:data => {:role => 'list-divider', :theme => :d}}
        .name Missing
        .tip &nbsp;
        .amount= @bill.total - @bill.total_claimed
      %li{:data => {:role => 'list-divider'}}
        .name Target
        .tip #{@bill.total_tip_claimed.to_f / @bill.total * 100}%
        .amount= @bill.total

    %a{:href => edit_bill_claim_path(@bill, @claim), :data => {:role => :button, :icon => 'flat-plus', :theme => :a, :iconshadow => :true}} Claim
  %div{:data => {:role => :'subpage-dialog'}, :id => "RECEIPT#{@bill.id}"}
    %header{:data => {:role => :header, :theme => :c}}
      %a.ui-btn-left{:data => {:rel => :back, :icon => 'flat-cross', :iconpos => :notext, :theme => :f, :inline => :true, :corners => :true, :shadow => :true, :iconshadow => :true}}
      %h1 Receipt Image
    .content#receipt_image_dialog{:data => {:role => :content}}
      %img{:src => @bill.receipt_url}

- unless request.xhr?
  = render :template => 'application/root'
